django
nltk
spacy
scispacy
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/en_core_sci_sm-0.5.1.tar.gz
transformers
faker
pandas
vaderSentiment
torch
torchvision
torchaudio --extra-index-url https://download.pytorch.org/whl/cpu
